@import url('https://fonts.googleapis.com/css?family=Audiowide');
nav{
    background: rgb(74, 100, 218);
    height: 100px !important;
    text-align: center;
}
.brand-logo{
    font-family: 'Audiowide', cursive;
}
.codeTitle{
    line-height: 150px;
    font-size: 1.5em;  
}
.code{
    font-size: 1.5em;
}
.remote{
    text-align: center;
    margin-top: 3em;
}
.btn-play{
    width: 10em !important;
    height: 10em !important;
    background: #4a64da !important;
    
}
.btn-play i{
    line-height: 2em !important;
    font-size: 4em;
}

.btn-side {
    width: 6em !important;
    height: 6em !important;
    padding: 0 !important;
    border-radius: 30px;
}
.btn-side i{
    font-size: 45px;
    line-height: 1.5em;
}

       